body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header_navbar {
  display: flex;

  flex-direction: row;
  background-color: #1a242f;
  height: 60px;
  justify-content: flex-start;
  padding-top: 5px;
}

.header_elements {
  margin: 10px;

  color: white;
}

#logo {
  margin-left: 10px;
  height: 30px;
  width: 120px;
  padding: 0px;
  margin-right: -10px;
  margin-bottom: 10px;
}

#signin {
  margin-left: 800px;
  padding-top: 50px;

  color: rgb(173, 168, 168);
}

#signin:hover {
  color: white;

  text-decoration: none;
}

body {
  background-color: #0f171e !important;
}

.body_videos_all {
  transition: margin 700ms;
  z-index: -1;
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
}

.body_videos {
  height: 230px;
  margin-right: 10px;
}

.body_videos:hover {
  transition: height 200ms;
  height: 250px;
}

.arrow_element {
  z-index: +1;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.arrow_element:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.previous {
  opacity: 50%;
  background-color: #f1f1f1;
  color: black;
}

.next {
  opacity: 50%;
  background-color: #f1f1f1;
  color: black;
}

.round {
  border-radius: 50%;
}

.arrows {
  display: flex;
  justify-content: space-between;
}

.navhome {
  color: rgb(173, 168, 168);
}

.navhome:hover {
  color: white;

  text-decoration: none;
}

#search {
  margin-left: 800px;
}

.backgroundimg {
  position: relative;
  width: auto;
  height: auto;
  z-index: -1;
  margin-top: -300px;
  opacity: 100%;
  float: right;
  /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.description {
  margin-top: 50px;
  position: relative;
  z-index: +1;
  text-align: left;
}
